
.offer
  .container


    .column.column-right
      .illustration
        img(src="images/worker.jpg")
    .column.column-left
      .slogan
        | Перевези любой груз по цене
        | <nobr>на 72%</nobr> ниже рыночной, получив
        | <nobr>5-7</nobr> предложений от перевозчиков
        | уже через 10 минут
      .description
        | Вам нужно перевезти груз, но нет желания обзванивать транспортные компании в поисках свободной машины и лучшей цены?
      .description
        | На нашем сайте Вы получите ряд предложений от транспортных компаний и частных перевозчиков с рейтингом от 4/5*
        | <nobr>и выберите лучшего.</nobr>

    .button.know_how
      span Узнайте лучшую цену
      = " "
      | на свою перевозку


.first-form
  .container
    .calltoaction
      | Отправьте бесплатный запрос прямо сейчас ―
      br
      | получите предложения уже через 10 минут!



    form.userdata
      input.x-name(type="text" name="name" placeholder="Имя:" autofocus='autofocus' value="test")
      .tooltip Укажите, пожалуйста, ваше имя
      input.x-email(type="text" name="email" placeholder="E-mail:" value="qwe@qwe.we")
      .tooltip Адрес электронной почты указан не корректно
      input.x-phone(type="text" name="phone" placeholder="+7 ( _ _ _ )  _ _ _ _ _ _ _ " value="+1 (231) 231-23-12")
      .tooltip Телефон указан не корректно
      button.button.vv-next Дальше
      .mustfill Все поля обязательны для заполнения
