doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")

  link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700italic|Roboto+Slab:400,700|Open+Sans' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="stylesheets/app.css")

  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');


- multiline_placeholder = "\nОпишите детали: \n1. Размеры и объем груза ( длина х ширина х высота ) \n2. Нужны ли услуги грузчиков \n3. Требования к кузову машины \n4. Форма оплаты \n5. Другие детали \n\nДШВ Объем, форма оплаты, требование к кузову машины, грузчики и т.д."


body.vv-landing
  .header
    .container
      .logo
        include svg/logo.svg
      .logo_mobile
        include svg/logo_mobile.svg
      .logo_tablet
        include svg/logo_tablet.svg

      .phone
        .freecall Звонок по России Бесплатный
        .number 8 (800) 555-19-23

      .support
        | Служба поддержки



  include first_screen
  include second_screen







  .footer
    .container
      .terms
        | © 2015 Все права на сайт «Везёт Всем» (www.vezetvsem.ru) принадлежат ООО "Рувил.Ру".
        br
        a(href='#') Условия соглашения и использования
        = " | "
        a(href='#') Политика конфиденциальности
        br
        | Адрес: 125040, Москва, улица Нижняя 14, офис 46, БЦ Петровский, тел. +7-495-215-19-78
        br
        | E-mail: info@vezetvsem.info | Тел: 8-800-555-19-23

      .maps
        a(href="#") Карта категорий
        a(href="#") Карта карта сайта


