.second-form
  .container
    .calltoaction
      | Пожалуйста, заполните форму до конца, и перевозчики предоставят
      | информацию без лишних вопросов

    form.order_data
      fieldset
        label
          | Что нужно перевезти?
          input.order_title(
            maxlength="50"
            value='test'
            autofocus='autofocus'
            type="text"
            name="order[0][12][title]"
            placeholder="Кратко перечислите предметы перевозки (максимально - 50 символов)"
          )
        .item-list
          .item Оборудование
          .item Коробки с вещами
          .item Стройматериалы
          .item Техника
          .item Мебель
          .item ТНП
          .item Продукты питания
          .item Бытовая техника

      fieldset
        label.desktop Подробное описание груза и другие детали
        label.mobile Подробности
        textarea(
          rows="10"
          name="order[0][12][comment]"
          placeholder="#{multiline_placeholder}"
        )
          | test
      fieldset
        label Когда
        input.x-datepicker(
          type="text"
        )
        input(
          type="hidden"
          name="order[0][12][dates][date_from]"
        )
        input(
          type="hidden"
          name="order[0][12][dates][date_to]"
        )
        .x-checkbox
          input#x-opendate(type="checkbox")
          label(for='x-opendate')
          | открытая дата

      fieldset.from
        label Откуда
        .plus
        select.x-country.x-from(
          name="location[0][1][country]"
        )

        .x-country-flag.ru.flag
        input.x-city.x-autocomplete(
          data-autocomplete="suggest_city"
          type="text"
          name="location[0][1][city]"
          placeholder="Город"
        )
        input.x-street.x-autocomplete(
          type="text"
          data-autocomplete="suggest_street"
          name="location[0][1][street]"
          placeholder="Улица"
        )
        input.x-home(
          type="text"
          name="location[0][1][home]"
          placeholder="Дом"
        )

      fieldset.from.from_hidden.hidden
        .minus
        select.x-country.x-from(
          name="location[1][1][country]"
        )

        .x-country-flag.ru.flag
        input.x-city.x-autocomplete(
          data-autocomplete="suggest_city"
          type="text"
          name="location[1][1][city]"
          placeholder="Город"
        )
        input.x-street.x-autocomplete(
          type="text"
          data-autocomplete="suggest_street"
          name="location[1][1][street]"
          placeholder="Улица"
        )
        input.x-home(
          type="text"
          name="location[1][1][home]"
          placeholder="Дом"
        )



      fieldset.to
        label Куда
        .plus
        select.x-country.x-to(
          name="location[0][2][country]"
        )
        .x-country-flag.ru.flag
        input.x-city.x-autocomplete(
          type="text"
          data-autocomplete="suggest_city"
          name="location[0][2][city]"
          placeholder="Город"
        )
        input.x-street.x-autocomplete(
          type="text"
          data-autocomplete="suggest_street"
          name="location[0][2][street]"
          placeholder="Улица"
        )
        input.x-home(
          type="text"
          name="location[0][2][home]"
          placeholder="Дом"
        )

      fieldset.to.to_hidden.hidden
        .minus
        select.x-country.x-to(
          name="location[1][2][country]"
        )
        .x-country-flag.ru.flag
        input.x-city.x-autocomplete(
          type="text"
          data-autocomplete="suggest_city"
          name="location[1][2][city]"
          placeholder="Город"
        )
        input.x-street.x-autocomplete(
          type="text"
          data-autocomplete="suggest_street"
          name="location[1][2][street]"
          placeholder="Улица"
        )
        input.x-home(
          type="text"
          name="location[1][2][home]"
          placeholder="Дом"
        )



      .button.send Отправить!




