
// @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700italic|Roboto+Slab:400,700|Open+Sans)

@import 'tools/_mixins'
@import 'tools/_helpers'
@import 'tools/_media_queries'
@import 'tools/_normalize'
@import 'tools/_settings'
@import 'components/_inputs'


html, body
  background: #171717
  min-height: 100%
  padding-top: 48px
  +tablet
    padding-top: 30px
  +mobile
    padding-top: 30px
.header
  background: #fff
  padding: 19px 0 0 0
  position: fixed
  z-index: 11
  top: 0
  width: 100%

  +tablet

    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1)
    .container
      text-align: center
  +mobile
    padding: 10px
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.1)
    .container
      text-align: center


  .logo
    float: left
    width: 222px
    margin-left: -31px
    svg
      width: 100%

    +tablet
      display: none
    +mobile
      display: none
  .logo_tablet
    display: none
    width: 222px
    svg
      width: 100%
    +tablet()
      display: inline-block
  .logo_mobile
    display: none
    width: 222px
    svg
      width: 100%
    +mobile()
      display: inline-block


  .support
    float: right
    color: $blue
    border-bottom: 1px dashed $blue
    cursor: pointer
    margin-right: 28px
    margin-top: 22px
    +subtitle(14,16)
    +tablet
      display: none
    +mobile
      display: none


  .phone
    float: right
    margin-top: 10px
    +tablet
      display: none
    +mobile
      display: none
    .freecall
      color: #5c5c5c
      position: relative
      top: -4px
      +regular(11, 16)
    .number
      +bold(22, 22)

.offer
  background: #fff
  padding-top: 30px
  +hideble()
  +tablet
    .container
      text-align: center
  .column
    &-left
      width: 53%
      float: left
      min-height: 300px
      padding-bottom: 24px
      +mobile
        min-height: 100px
      .slogan
        margin-bottom: 23px
        +title(29px,40px)
      .description
        margin-bottom: 15px
        +subtitle(14,24)
        padding: 0 30px 0 6px
        color: #333
        +mobile
          display: none

    &-right
      width: 36%
      float: right
      position: absolute
      right: 50px
      top: -10px
      bottom: 0

      .illustration
        width: 100%
        position: absolute
        bottom: 0
        display: inline-block



        img
          width: 100%
          max-width: 100%
          vertical-align: bottom

    // .column

    +tablet
      float: none
      position: static
      width: auto
      text-align: center
      max-width: 590px
      margin: 20px auto 10px auto
      .illustration
        position: static
        width: auto
        height: 100%
        max-height: 346px
        img
          width: auto
          max-height: 346px
          max-width: 100%
          vertical-align: bottom
    +mobile
      float: none
      position: static
      width: auto
      text-align: center
      max-width: 590px
      margin: 20px auto 10px auto
      .illustration
        display: none

  .button
    display: none
    +tablet
      display: inline-block
      margin: 0 auto 40px auto
    +mobile
      display: block
      margin: 0 auto
      text-align: center
      font-size: 14px
      line-height: 24px
      padding-top: 6px
      padding-bottom: 6px
      margin-bottom: 50px
      span
        font-weight: 700
        display: block
.calltoaction
  +title(22,36)
  +mobile
    text-align: center

.first-form

  +greygradient()
  padding: 22px 0
  color: #fff
  +hideble()
  .container
    background: url(/images/arrow.png) 10px 30% no-repeat
    background-size: 54px 113px
    +tablet
      max-width: 666px
      background: url(/images/arrow.png) 10px 10% no-repeat
      background-size: 54px 113px
    +mobile
      background: none


  form.userdata
    padding: 40px 0
    white-space: nowrap

    +tablet
      white-space: normal
      padding: 30px 0
      text-align: center
    +mobile
      white-space: normal
      padding: 30px 0
      text-align: center

    .vv-next
      background: #ffc937 url(/images/nextarrow.png) 94% center no-repeat
      background-size: 9px 21px
      transition: background-color .2s ease
      border: none
      &:hover
        background-color: #eab100
      +tablet
        width: 98%
      +mobile
        width: 100%
        margin: 5px 0

    input[name=name]
      width: 30%
      margin-left: 18px
      // & + .tooltip
      //   max-width: 30%
      //   left: 50%
      //   transform: translateX(-50%)
      //   margin-left: 0.5%
      //   white-space: normal
      +tablet
        width: 97.5%
        margin-left: 5px
        & + .tooltip
          max-width: 97.5%


      +mobile
        width: 100%
        margin: 5px 0



    input[name=email]
      width: 20%
      // & + .tooltip
      //   max-width: 20%
      //   left: 43%
      //   transform: translateX(-50%)
      //   margin-left: 0.5%
      //   white-space: normal
      +tablet
        margin: 14px 7px 14px 5px
        width: 47%
        // & + .tooltip
        //   max-width: 44%
        //   left: 27%

      +mobile
        width: 100%
        margin: 5px 0
    input[name=phone]
      width: 24%
      // & + .tooltip
      //   max-width: 24%
      //   left: 64%
      //   transform: translateX(-50%)
      //   margin-left: 0.5%
      //   white-space: normal
      +tablet
        width: 47%
        margin: 14px 5px 14px 7px
        // & + .tooltip
        //   max-width: 44%
        //   left: 74%
      +mobile
        width: 100%
        margin: 5px 0




    .mustfill
      position: absolute
      bottom: 6px
      right: 117px
      +regular(16,18)
      color: #797272
      &:before
        content: '* '
        color: #ef3e00
      +tablet
        right: 72px
      +mobile
        display: none

.second-form
  +showble()
  background: #333
  display: none
  opacity: 0
  color: #fff
  padding: 30px
  +mobile
    padding: 5px
    padding-top: 15px
  .container
    max-width: 890px
    background: url(/images/arrow.png) 0px 15px no-repeat
    background-size: 54px 113px

    +mobile
      background: none

  .calltoaction
    margin-bottom: 24px
    +mobile
      font-size: 18px
      line-height: 30px

  .item-list
    padding: 0 10px
    .item
      display: inline-block
      +subtitle(16,18)
      color: #999999
      border-bottom: 1px solid #999999
      transition: color .3s ease, border-color .3s ease
      cursor: pointer
      font-weight: 300
      margin-right: 30px
      margin-bottom: 16px
      &:hover
        color: #d3d3d3
        border-color: #d3d3d3
      &.hidden
        display: none

    +mobile
      display: none






.footer
  padding: 30px 0
  background: #171717
  color: #484a51
  +regular(12,22)
  a
    color: #666666
    &:hover, &:active
      color: #999999
  .maps
    position: absolute
    bottom: 0px
    right: 170px
    a
      display: block

  +tablet
    text-align: center
    .terms
      text-align: center

    .maps
      position: static
      text-align: center
      margin: 30px 0
      a
        display: inline-block
        margin-right: 3px
        &:after
          content: " |"
        &:last-child:after
          content: ""

  +mobile
    text-align: center
    .terms
      text-align: center

    .maps
      position: static
      text-align: center
      margin: 30px 0
      a
        display: inline-block
        margin-right: 3px
        &:after
          content: " |"
        &:last-child:after
          content: ""






