.vv-landing

  label
    +title(22,22)
    color: #e9b937
    display: block
    padding-left: 12px
    margin: 16px 0
    &.mobile
      display: none
    +mobile
      color: #7291c4
      &.desktop
        display: none
      &.mobile
        display: block

    input
      display: block
      margin-top: 16px
      margin-left: -12px

  .button
    padding: 0 52px 0 48px
    display: inline-block
    color: #000
    background: #ffc937
    border-radius: 8px
    margin: 5px
    +subtitle(18,46)
    text-transform: uppercase
    cursor: pointer
    box-shadow: 1px 4px 6px 3px rgba(0,0,0,0.2)
    transition: transform 0.1s ease, background-color .2s ease, all .2s ease
    transform: translateY(-2px)
    &:hover
      background-color: #eab100

    &:active
      box-shadow: 1px 4px 3px 2px rgba(0,0,0,0)
      transform: translateY(1px)

    &.send
      display: block
      overflow: hidden
      width: 300px
      text-align: center
      padding: 0
      margin: 80px auto 60px auto
      +mobile
        width: 100%
        font-weight: 600




  input, textarea
    box-sizing: border-box
    width: 100%
    +regular(16,16)
    padding: 14px 16px 10px 16px
    border: rgba(0,0,0,0) solid 3px
    border-radius: 4px
    margin: 5px
    position: relative

    display: inline-block

    &::placeholder
      +regular(16,16)

    +mobile
      margin: 5px 0

    &:focus
      border: #ffc937 solid 3px
      outline: none
      box-shadow: 0 0 1px 0px #ffc937

    &.hasError
      border-color: #ef3e00
  textarea
    +regular(16,24)
    &::placeholder
      +regular(16,24)

  input[type=checkbox]
    display: inline-block
    width: auto
    border: #ffc937 solid 3px


  input.x-datepicker
    display: inline-block
    background: #fff url(/images/calendar.png) 10px center no-repeat
    background-size: 20px 18px
    max-width: 255px
    cursor: pointer
    padding-left: 40px
    +tablet
      margin-left: 67px
      max-width: initial
      width: 56%

  .date-picker-wrapper
    // margin-left: 250px
    z-index: 10

    +mobile

      .month2, .gap
        display: none
      .month-wrapper
        max-width: 202px

      max-width: 202px

    &.single-date
      margin-left: 25px
    .footer
      display: none
    .selected-days
      display: none !important


  .x-checkbox
    display: inline-block
    margin: 10px 0

    label
      vertical-align: middle
      margin: 0 15px 0 22px
      display: inline-block
      width: 18px
      height: 18px
      background: #fff
      border: 2px solid #ffc937
      border-radius: 2px
      padding: 0
      position: relative
      color: #fff
      transition: background-color .2s ease, border-color .2s ease
      +mobile
        border: 2px solid #7291c4
        margin: 0px 10px 0px 5px
      &:active
        background-color: #f1f1f1
      &:before
        display: block
        position: absolute
        content: '✔'
        color: #fff
        font-size: 12px
        top: -3px
        left: 1.5px
        opacity: 0
        transition: opacity .2s ease

    input
      display: none
      &:checked + label, &:checked + div +  label
        background: #65b425
        border-color: #65b425
        &:before
          opacity: 1





  select
    display: inline-block
    display: none

  fieldset.from, fieldset.to
    vertical-align: middle
    position: relative
    .plus
      transition: opacity .5s ease
      opacity: 1
      width: 48px
      margin: 5px
      vertical-align: middle
      background: #ffc937
      border-radius: 4px
      text-align: center
      display: inline-block
      &.hidden
        opacity: 0
      &:before
        content: "+"
        +subtitle(32,48)
        color: #000
        +mobile
          +subtitle(28,48)
          position: relative
          left: -8px
          top: 1px
      +mobile
        &:after
          content: "  добавить пункт погрузки"
          +regular(18,48)
          color: #000
          position: relative
          top: -2px
      box-shadow: 1px 4px 6px 3px rgba(0,0,0,0.15)
      transition: transform 0.1s ease
      transform: translateY(-1px)

      &:active
        box-shadow: 1px 4px 3px 2px rgba(0,0,0,0)
        transform: translateY(1px)

    .minus
      width: 48px
      margin: 5px
      vertical-align: middle
      background: #ffc937
      border-radius: 4px
      text-align: center
      display: inline-block
      &:before
        content: "–"
        +subtitle(32,48)
        color: #000
        +mobile
          +subtitle(28,48)
          position: relative
          left: -12px
          top: 1px
      +mobile
        &:after
          content: "  убрать пункт погрузки"
          +regular(18,48)
          color: #000
          position: relative
          top: -2px

      box-shadow: 1px 4px 6px 3px rgba(0,0,0,0.15)
      transition: transform 0.1s ease
      transform: translateY(-1px)

      &:active
        box-shadow: 1px 4px 3px 2px rgba(0,0,0,0)
        transform: translateY(1px)
    +mobile
      padding-bottom: 60px
    .plus, .minus

      +mobile
        background: #7291c4
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        margin: 5px 0

    input
      display: inline-block
      vertical-align: middle
    .x-city
      max-width: 320px
      padding-left: 60px
      &.selected
        background: #fff url(/images/galka.png) 95% 50% no-repeat

      +tablet
        width: 87%
        max-width: initial
      +mobile
        width: 100%
        margin: 5px 0
        max-width: initial

    .x-street
      max-width: 255px
      &.selected
        background: #fff url(/images/galka.png) 95% 50% no-repeat

      +tablet
        margin-left: 67px
        width: 60%
        max-width: initial
      +mobile
        width: 100%
        margin: 5px 0
        max-width: initial

    .x-home
      max-width: 85px

      +tablet
        width: 25.5%
        max-width: initial
        margin: 5px 0
      +mobile
        width: 100%
        margin: 5px 0
        max-width: initial
    .ui-selectmenu-text
      opacity: 0 !important

    .ui-selectmenu-button
      position: absolute
      z-index: 1
      left: 67px
      top: 59px
      opacity: 0
      width: 60px !important
      height: 48px !important
      +mobile
        left: 3px

    .x-country-flag
      position: absolute
      z-index: 1
      left: 76px
      top: 66px
      +mobile
        left: 3px

    .x-country-flag
      margin: 12px 9px
      pointer-events: none
      &:after
        content: '▾'
        position: absolute
        top: -5px
        right: -16px
        color: #000

    &.hidden
      padding-top: 22px

      & .ui-selectmenu-button
        top: 27px

      & .x-country-flag
        top: 34px

  ul.ui-menu
    width: 318px !important
    max-height: 300px !important

  fieldset.to
    .plus
      +mobile
        &:after
          content: "  добавить пункт выгрузки"
    .minus
      +mobile
        &:after
          content: "  убрать пункт выгрузки"

  .tooltip
    display: none
    position: absolute
    background: #f6784b
    +regular(14,18)
    color: #000
    padding: 10px 20px
    max-width: 60%
    border-radius: 8px
    z-index: 10
    white-space: normal
    text-align: center
    &:before
      content: ''
      display: block
      width: 0
      height: 0
      border: 6px solid rgba(0,0,0,0)
      border-bottom: 6px solid #f6784b
      position: absolute
      top: -12px
      left: 50%
      margin-left: -6px

    +mobile
      position: relative

      width: 100% !important
      margin: 5px 0 !important
      max-width: initial !important
      left: 0 !important
      transform: none !important


  .hasError + .tooltip
    display: block

  +mobile
    .x-datepicker + .tooltip
      width: 40% !important





